<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/index.js"></script>
    </head>

    <body>
        <div class="outer">
          <div class="middle">
            <div class="inner">

                <div class="container">
                    <h1>Please assess the sentiment of the following video:</h1>
                        <div id="video-embed"></div>
                        <script>getVideoEmbed()</script>
                        <br><br>
                        <form id="sentiment-form">
                            How would you rate the sentiment of the video?<br>
                            (1 = very negative, 4 = neutral, 7 = very positive)<br>
                            <div id="radiobuttons-form">
                                <label><input type="radio" name="sentiment" />1</label>
                                <label><input type="radio" name="sentiment" />2</label>
                                <label><input type="radio" name="sentiment" />3</label>
                                <label><input type="radio" name="sentiment" />4</label>
                                <label><input type="radio" name="sentiment" />5</label>
                                <label><input type="radio" name="sentiment" />6</label>
                                <label><input type="radio" name="sentiment" />7</label>
                            </div>

                            <br><br>
                            Did you agree with the content of the video?<br>
                            (1 = complete agreement, 4 = neutral agreement, 7 = complete disagreement)<br>
                            <div id="radiobuttons-form">
                                <label><input type="radio" name="content" />1</label>
                                <label><input type="radio" name="content" />2</label>
                                <label><input type="radio" name="content" />3</label>
                                <label><input type="radio" name="content" />4</label>
                                <label><input type="radio" name="content" />5</label>
                                <label><input type="radio" name="content" />6</label>
                                <label><input type="radio" name="content" />7</label>
                            </div>

                            <br><br>
                            Was the video clear?<br>
                            <div id="radiobuttons-form">
                                <label><input type="radio" name="clarity" onclick="hideTextbox()"/>Yes</label>
                                <label><input type="radio" name="clarity" onclick="showTextbox()" />No</label>
                            </div>


                            <div id="clarity-div"  style="display: none">
                            <br><br>
                            What was unclear about the video?<br>
                                <input type="text" id="clarity-textbox" placeholder="Type here..."/>
                            </div>

                            <br><br>


                            <button id="votebutton" class="cut" type="button" onclick="process()">Submit</button>
                        </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
