<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/index.js"></script>
        <title>Video Sentiment Analysis Tool</title>
    </head>
    <body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="container">
                        <h1>Welcome!</h1>
                        <p>Thank you for helping us affect the world in a positive way.</p>
                        <p>The goal of this platform is to make summarizations with either a positive or a negative sentiment of coronavirus related press conferences. We believe this is a useful way to combat negative effects of the coronavirus on our mental wellbeing. </p>
                        <p>To help out, you will presented with fragments from from YouTube videos. Therefore, make sure that:</p>
                        <ul>
                            <li>The video is clearly visible and playable.</li>
                            <li>You can properly hear what is being said.</li>
                        </ul>
                        <p>After watching the video, you will be asked several questions:</p>
                        <ol>
                            <li>How would you rate the sentiment of the video? This question asks you to assign a value to the <b>sentiment expressed by the speaker</b> in the video on a 1 to 7 scale, ranging from very negative to positive. </li>
                            <li>Did you agree with the content of the video? This questions aks you to assign a value to the extend to which <b>you agree</b> with the content on a 1 to 7 scale, ranging from complete agreement to complete disagreement.</li>
                            <li>Was the video <b>clear</b>? This questions is asked to detect possible issues with the video such as audio issues, unclear cuts, empty fragment, etc. Tick 'No' if there is an issue; a textbox will pop up asking you to clarify what was wrong.</li>
                            <li>Whether you have a <b>general comment</b> about the video you saw. This could be anything, so feel free to use this part to give us useful information!</li>
                            <li>Whether the video was <b>relevant to the coronavirus</b>. Since our goal is to create summarizations of coronavirus related press conferences, we only want to include parts that are actually relevant.</li>
                            <li>Whether it was easy to <b>identify a single dominant sentiment</b> in the video. If this is not the case, we might need to split our video differently, so we would like to hear this from you.</li>
                        </ol>
                        <p>You will receive $0,10 per rated video, and $0,01 per 10 seconds that a video takes.</p>
                        <p>Before starting, we will show you some examples.</p>
                        <p>Good luck!</p>
                        <button class="cut" type="button" onclick="start()">Next</button>
                    </div>
                </div>
           </div>
        </div>
    </body>
</html>