<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/index.js"></script>
    </head>

    <body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="container">
                        <h1>A positive example</h1>
                        <p>The video below is an example of a video with a positive sentiment.</p>

                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mii6NydPiqI?controls=0&start=9&end=19;" frameborder="0"></iframe>

                        <br><br><br>
                        <p>If you understood why the video has a positive sentiment, please click the "next" button below.</p>
                        <button class="cut" type="button" onclick="posNext()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>